#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home-page-div p {
  text-align: left;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
}

.episode-title {
  text-align: center;
}

.popover-button {
  font-weight: bold;
  border-radius: 0.3rem;
}
