body {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}

nav ul li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

.day {
  background-color: white;
  color: black;
}

.night {
  background-color: black;
  color: white;
}
