.episode-card {
  border: 0.1rem solid gray;
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 1rem;
}

.episode-card p {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

.tooltiptext {
  background-color: grey;
  padding: 0.3rem;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover + .tooltiptext {
  visibility: visible;
}
